.App {
  text-align: center;}

.App-logo {
  height: 5rem;
  object-fit:cover;
  object-position: 0;
  min-width: 1rem;}

.App-header {
  background-color: #000;
  position: fixed;
  z-index: 10;
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-around;
  font-size: calc(10px + 1vmin);
  color: white;}

.App-link {
  color: #fff;
  text-decoration: none;}


/*Grids------------*/

.navigator {
  display: flex;
  justify-content: space-between;
  width:100%;
  padding: 0 5% 0 5%;
  height: 8rem;
  color: white;
  background-color: black;
  align-items: center;}

.grid-container {
  display: flex;
  grid-auto-flow: column;
  column-gap: 1rem;
  align-items: center;}

.textDesc{
    grid-area: 1 / 1 /span 1/span 1;
    align-self: top;}

.description {
  display: grid;
  width: 100%;
  padding: 8rem 0% 0% 12%;
  grid-template-rows: 18rem;
  min-height: 45rem;
  column-gap: 20px;
  justify-items: center;
  justify-self: center;
  background: -webkit-linear-gradient(270deg, #495E57 60%, #ffff 0%);}

.textDesc p {
    color: #ffff;
    min-width: 10rem;
    max-width: 90%;}

.description button {
  position: relative;
  margin: 12rem;
  grid-area: 2 / 1 /span 1/span 1;}

.foodList {
  display: flex;}

.high{
  display: flex;
  margin: 2%;
  justify-content:space-around;}

.high a {
  grid-area: 1 / 2 / span 1 / span 1;}

.about{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  grid-template-areas: 'text imgs';
  background-color:#eee;
  justify-content: center;
  min-height: 40rem;}

.img1 {
  position: relative;
  max-width: 100%;
  min-width: 10rem;
  max-height: 400px;
  object-fit: cover;
  object-position: 90% 30%;
  z-index: 1;
  top: 12%;
  left: -30%;}

.img2{
  position: relative;
  z-index: 2;
  max-width: 100%;
  min-width: 10rem;
  max-height: 400px;
  object-fit:cover;
  object-position: 90% 0%;
  top: -12%;
  left: 30%;}

.footer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5%;
  gap: 3rem;
  align-items: center;
  justify-content:space-evenly;
  background-color: #000;
  color: #fff;
  min-height: 500px;}


/*Fonts------------*/

.Title { /*Brand*/
  font-family: 'Markazi';
  font-size: 5rem;
  font-weight: normal;
  color: #F4CE14;
  position: relative;
  right: 3rem;}

.WhereAreWe { /*Subtitle*/
  font-family: 'Markazi';
  font-size: 2rem;
  font-weight: normal;
  color: #ffff;}

h1{ /*Heading*/
  font-family: 'Karla';
  font-size: 36pt;
  font-weight: bold;
  display: inline;}

h2{ /*Section title*/
  font-size: 20pt;
  font-family: 'Karla';
  font-weight: bolder;
  line-height: 1.5;
  text-transform: uppercase;}

h3{ /*Lead text*/
  font-family: 'Karla';
  font-size: 18pt;}

h4{ /*Card title*/
  font-family: 'Karla';
  font-size: 18pt;
  font-weight: bold;
  display: inline;}

p{ /*Paragraph*/
  font-size: 1rem;
  font-family: 'Karla';
  text-align: justify;
  text-decoration: none;
  font-weight: normal;
  max-width: 25rem;
  line-height: 1.1;}

.imgSqrd {
  object-fit: cover;
  border-radius: 3rem;
  aspect-ratio: 1.1;
  max-height: 40rem;
  max-width: 80%;
  min-width: 10rem;
  margin: 10%;
  display: block;}

.imgDesc {
  grid-area: 1 / 2 /span 1/span 2;}


/*Objects----------*/

.button{
  width: 300px;
  min-width: 16rem;
  height: 60px;
  background-color: #000;
  color: #fff;
  padding: 0;
  border-radius: 2rem;
  font-family: 'Karla';
  font-size: 2rem;
  font-weight: bolder;
  align-content: center;
  text-transform: uppercase;}

.button:link {
  text-decoration: none;}

.star-rating{
  display: flex;
  justify-items: center;
  width: 300px;}

.star{
  font-size: 25pt;
  color: #999;}

.star:hover{
  font-size: 27pt;
  color: #F4CE14;}

.star::selection{
    font-size: 27pt;
    color: #F4CE14;}

/* The popup form - hidden by default */
.form-popup {
      display: none;
      position: inherit;
      z-index:8;}

/* Add styles to the form container */
.form-container {
      display: flex;
      color: #000;
      flex-direction: column;
      row-gap: 15px;
      align-items: center;
      justify-items: center;
      width: 500px;
      max-width: 100%;
      z-index: 8;
      position: relative;
      top: 200px;
      right: 90px;
      height: 1000px;
      padding: 50px;
      background-color: #495E57;
      border-radius: 50px;}

.form-container select{
  width: 300px;
  max-width: 100%;
  height: 50px;
  margin: 20px;
  border-radius: 20px;}

/* Full-width input fields */
.form-container input {
  width: 300px;
  border-radius: 20px;
  height: 50px;
  padding: 20px;
  margin: 20px;
  background: #fff;}

.form-container text {
  height: 40px;
  margin: 20px;
  background: #fff;}

/* When the inputs get focus, do something */
.form-container input:focus {
  background-color: #eee;
  text-decoration-color: #000;
  outline: none;}

/* Set a style for the submit/login button */
.form-container button {
  top: 40px;
  border: none;
  cursor: pointer;
  width: 100%;
  align-self: center;
  opacity: 0.8;}

.form-container label {
  display: flex;
  flex-direction: row;
  align-self: center justify;
  justify-content: center;}

/* Add some hover effects to buttons */
.form-container .button:hover, .open-button:hover {
  opacity: 1;
  scale: 1.1;}

.form-status {
  display: flex;
  color: #000;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-items: center;
  width: 500px;
  z-index: 2;
  position: relative;
  top: 250px;
  right: 90px;
  height: 400px;
  padding: 50px;
  background-color: #F4CE14;
  border-radius: 50px;}

/* Screen size */

@media screen and (max-width: 1200px) {
  .App-logo {
    width: 50px;
  }

  .description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}

  .description button {
    margin: 2rem;}

  .Title {
    font-size: 50px;
  }
  .img1 {
    left:0;
    top: 0;
    margin: 1rem;}

  .img2 {
    left:0;
    top: 0;
    margin: 1rem;}
}