.App {
  text-align: center;}

.App-logo {
  height: 100px;}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; }}*/

.App-header {
  background-color: #000;
  position: fixed;
  z-index: 10;
  height: 110px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-around;
  font-size: calc(10px + 1vmin);
  color: white;}

.App-link {
  color: #fff;
  text-decoration: none;}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }}*/


/*Grids------------*/

.navigator {
  display: flex;
  justify-content: space-between;
  width:100%;
  padding: 0 5% 0 5%;
  height: 120px;
  color: white;
  background-color: black;
  align-items: center;}

.grid-container {
  display: flex;
  grid-auto-flow: column;
  column-gap: 80px;
  align-items: center;}

.textDesc{
    grid-area: 1 / 1 /span 1/span 1;
    align-self: top;}

.description {
  display: grid;
  padding: 8% 4% 5% 7%;
  grid-template-rows: 20rem;
  height: 800px;
  column-gap: 20px;
  justify-items: center;
  justify-self: center;
  background: -webkit-linear-gradient(270deg, #495E57 70%, #ffff 0%);}

.textDesc p {
    color: #ffff;
    max-width: 500px;}

.description button {
  position: relative;
  top: 180px;
  grid-area: 2 / 1 /span 1/span 1;}

.foodList {
  display: flex;}

.high{
  display: flex;
  margin: 2%;
  justify-content:space-around;}

.high a {
  grid-area: 1 / 2 / span 1 / span 1;}

.about{
  display: grid;
  width: 100%;
  grid-template-areas: 'text imgs';
  background-color:#eee;
  align-content: center;
  height: 800px;}

.img1 {
  position: relative;
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: 90% 0%;
  z-index: 1;
  top: 100px;
  left: -150px;}

.img2{
  position: relative;
  z-index: 2;
  width: 400px;
  height: 400px;
  object-fit:cover;
  object-position: 90% 0%;
  top: -100px;
  left: 150px;}

.footer{
  display: flex;
  width: 100%;
  padding: 50px;
  gap: 50px;
  align-items: center;
  justify-content:space-evenly;
  background-color: #000;
  color: #fff;
  height: 500px;}


/*Fonts------------*/

.Title { /*Brand*/
  font-family: 'Markazi';
  font-size: 64pt;
  font-weight: normal;
  color: #F4CE14;
  position: relative;
  right: 100px;}

.WhereAreWe { /*Subtitle*/
  font-family: 'Markazi';
  font-size: 40pt;
  font-weight: normal;
  color: #ffff;}

h1{ /*Heading*/
  font-family: 'Karla';
  font-size: 36pt;
  font-weight: bold;}

h2{ /*Section title*/
  font-size: 20pt;
  font-family: 'Karla';
  font-weight: bolder;
  line-height: 1.5;
  text-transform: uppercase;}

h3{ /*Lead text*/
  font-family: 'Karla';
  font-size: 18pt;}

h4{ /*Card title*/
  font-family: 'Karla';
  font-size: 18pt;
  font-weight: bold;}

p{ /*Paragraph*/
  font-size: 16pt;
  font-family: 'Karla';
  text-align: justify;
  text-decoration: none;
  font-weight: normal;
  line-height: 1.1;}

.imgSqrd {
  border-radius: 50px;
  object-fit: cover;
  min-width: 600px;
  height: 550px;}

.imgDesc {
  grid-area: 1 / 2 /span 1/span 2;}


/*Objects----------*/

.button{
  width: 300px;
  height: 60px;
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  font-family: 'Karla';
  font-size: 20pt;
  font-weight: bolder;
  text-transform: uppercase;}

.button:link {
  text-decoration: none;}

.star-rating{
  display: flex;
  justify-items: center;
  width: 300px;}

.star{
  font-size: 25pt;
  color: #999;}

.star:hover{
  font-size: 27pt;
  color: #F4CE14;}

  .star::selection{
    font-size: 27pt;
    color: #F4CE14;}



  /*{box-sizing: border-box;}*/

    /* The popup form - hidden by default */
    .form-popup {
      display: none;
      position: inherit;
      z-index:8;
    }

    /* Add styles to the form container */
    .form-container {
      display: flex;
      color: #000;
      flex-direction: column;
      row-gap: 15px;
      align-items: center;
      justify-items: center;
      width: 500px;
      z-index: 8;
      position: relative;
      top: 200px;
      right: 90px;
      height: 1000px;
      padding: 50px;
      background-color: #495E57;
      border-radius: 50px;
    }

.form-container select{
  width: 300px;
  height: 50px;
  margin: 20px;
  border-radius: 20px;
}

/* Full-width input fields */
.form-container input {
  width: 300px;
  border-radius: 20px;
  height: 50px;
  padding: 20px;
  margin: 20px;
  background: #fff;
}

.form-container text {
  height: 40px;
  margin: 20px;
  background: #fff;}

/* When the inputs get focus, do something */
.form-container input:focus {
  background-color: #eee;
  text-decoration-color: #000;
  outline: none;}

/* Set a style for the submit/login button */
.form-container button {
  top: 40px;
  border: none;
  cursor: pointer;
  width: 100%;
  align-self: center;
  opacity: 0.8;}

.form-container label {
  display: flex;
  flex-direction: row;
  align-self: center justify;
  justify-content: center;}

/* Add some hover effects to buttons */
.form-container .button:hover, .open-button:hover {
  opacity: 1;
  scale: 1.1;
}

.form-status {
  display: flex;
  color: #000;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-items: center;
  width: 500px;
  z-index: 2;
  position: relative;
  top: 250px;
  right: 90px;
  height: 400px;
  padding: 50px;
  background-color: #F4CE14;
  border-radius: 50px;
}